<div class="span12 imageAndTagline">
  <%= image_tag("home-image.png", :size => "1000x411") %>
</div>

<div class="span2 offset1">
  <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search Legislation">
  </form>
  <div><h4><%= link_to("LEGISLATION", legislations_path) %></h4></div>
  <ul>
    <li>This would be a link to a recently updated legislation.</li>
    <li>This would be a link to a recently updated legislation.</li>
    <li>This would be a link to a recently updated legislation.</li>
    <li>This would be a link to a recently updated legislation.</li>
    <li>This would be a link to a recently updated legislation.</li>
  </ul>
</div>
<div class="span2 offset1">
  <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search Petitions">
  </form>
  <div><h4><%= link_to("PETITIONS", petitions_path) %></h4></div>
  <ul>
    <li>This would be a link to a recently updated petition.</li>
    <li>This would be a link to a recently updated petition.</li>
    <li>This would be a link to a recently updated petition.</li>
    <li>This would be a link to a recently updated petition.</li>
    <li>This would be a link to a recently updated petition.</li>
  </ul>
</div>
<div class="span2 offset1">
  <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search Forum">
  </form>
  <div><h4><%= link_to("ISSUE FORUMS", posts_path) %></h4></div>
  <ul>
    <li>This would be a link to a recently updated forum.</li>
    <li>This would be a link to a recently updated forum.</li>
    <li>This would be a link to a recently updated forum.</li>
    <li>This would be a link to a recently updated forum.</li>
    <li>This would be a link to a recently updated forum.</li>
  </ul>
</div>