<div>
  <%= @post.title %><br />
  <%= @post.user.name %><br />
  <%= @post.content %><br />

  <% @post.comments.each do |c| %>
  <%= render :partial => "legislations/partials/forum_comment", :locals => { :c => c } %>
   <br /><br />
<% end %>

</div>
