/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*, body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
 }

.navbar-outter {
  background: #000;
}

a.brand:hover {
  background: #F4F4F4;
}

.navbar-inner {
  margin: 0 60px;
}

a.navlink {
  font-size: 16px;
  color: #273040;
}

a.navlink-mobile {
  font-size: 16px;
  color: #F9AD0C;
}

.nav-collapse {
  line-height: 80px;
}

.imageAndTagline {
  text-align: center;
  margin-bottom: 20px;
}